{% extends 'base.html' %}

{% block content %}
<div class="contact-container">
    <h2>VERSION 1.0.0</h2>
    <hr>
    <h2>CONTACT US</h2>
    <p class="contact-info">For any queries regarding this website, contact us at:</p>
    <p class="contact-info">Email ID: <a href="mailto:audio2sl@gmail.com">audio2sl@gmail.com</a></p>
    <p class="contact-info">Twitter handle: <a href="https://twitter.com/audio2sl" target="_blank">@audio2sl</a></p>
    <p class="contact-info">Contact number: (079)25831703</p>
    <hr>
    <p class="thank-you">Thank you for visiting our website</p>
</div>

{% endblock %}

